.project-section{
    height: 100vh;
    z-index: 1;
    background: url('../../assets/Beach50.jpg') no-repeat center fixed;
    background-size: cover;
    display:flex;
    flex-direction: column;
}
.project-section__container{
    height:80%;
    width: 80%;
    background: url("../../assets/Rectangle.svg");
    margin: auto;
    border-radius: 1rem;
    display:grid;
    grid-template-columns: 1fr;
    

}
.project-section__container img{
    max-height: 60%;
    max-width: 90%;
    justify-self: center;
    align-self: center;
}
.project-section__description{
    max-width: 90%;
    justify-self: center;
}