.about-section{
    background: #323232;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}


.about-section__about{
    position: relative;
    width:80%;
    color:#5b72cc;
    padding-left: 10px;
    overflow: auto;
    
    margin-bottom: 10px;
}
.about-section__about__title{
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}
.about-section__about__list{
    max-height: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
    grid-gap:5px;
}
.about-section__about__item--language{
    margin-top:1px;
    width: 100%;
    height: 25px;
    background: #42ddc6;
    border-radius: 1rem ;
    text-align: center;
    color:#ffffff;
}
.about-section__about__item--tech{
    margin-top:1px;
    width: 100%;
    height: 25px;
    background: #b1253e;
    border-radius: 1rem ;
    text-align: center;
    color:#ffffff;
}
.organization{
    font-weight: 700px;
    color: red;
}
.year{
    color:#42ddc6;
}
.vn{
    color: red;
    font-weight: 800;
}
.position{
    color:#b1253e;
}